{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <div class="pages-header">
        {% if editMode %}
            <h1>Modifier les informations de
                {{ user.name }}
            </h1>
        {% else %}
            <h1>Ajouter un Commercial</h1>
        {% endif %}
    </div>

    {{ form_start(form) }}
    <div class="user-registration-form">
        {{ form_row(form.name,{'label':'Nom, Prénom','attr':{'placeHolder':'Nom, Prénom'}}) }}
        {{ form_row(form.email,{'label':'Email','attr':{'placeHolder':'adresse mail du Vrp'}}) }}
        {{ form_row(form.embauche,{'label':'Date d\'embauche'}) }}
        {{ form_row(form.phone,{'label':'Téléphone','attr':{'placeHolder':'ex 0102030405'}}) }}
        {{ form_row(form.rib,{'label':'Relevé d\'identité bancaire','attr':{'placeHolder':'rib du Vrp'}}) }}
        <p id="email-check"></p>
        {{ form_row(form.username,{'label':'Identifiant','attr':{'placeHolder':'identifiant'}}) }}
        <p id="username-check"></p>
        {{ form_row(form.password,{'label':'Password','attr':{'placeHolder':'password'}}) }}
        {{ form_row(form.confirm_password,{'label':'Confirmation du password','attr':{'placeHolder':'confirm password'}}) }}
        <button type="submit" class="btn btn-success" id="user_registration_button">Confimer</button>
    </div>

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>
    {% if not editMode %}
        <script src="{{ asset('build/check.js') }}"></script>
    {% endif %}
{% endblock %}