{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="user-page-header">
        <div class="user-infos">
            <div class="user-name">
                <h1>{{ user.name }}</h1>
            </div>
            <p>Adresse email :
                {{ user.email }}</p>
            <p>Identifiant :
                {{ user.username }}</p>
        </div>
        <div class="admin-action-control">
            <p class="lead">
                <a href="{{ path('security_user_edit', {'id': user.id}) }}" class="btn btn-primary">Modifier les infos</a>
            </p>
            <p class="lead">
                <a href="" class="btn btn-primary">Contacter
                    {{ user.name }}</a>
            </p>
        </div>
    </div>

    <div class="listings-container">
        <div class="listing">
            <div class="listings-menu">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#en-cours">Notes en attente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#validées">Notes validées</a>
                    </li>
                </ul>
            </div>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade show active" id="en-cours">
                    <div class="notes-listing">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Montant</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Statut</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for note in notes %}
                                    {% if note.statut == 'En cours' %}
                                        <tr class="table-warning">
                                            <td>{{ note.date | date('d/m/y')}}</td>
                                            <td>{{ note.montant }}</td>
                                            <td>{{ note.type }}</td>
                                            <td>{{ note.statut }}</td>
                                            <td>
                                                <a href="{{ path('user_note_show', {'id': note.id}) }}" class="btn btn-primary">Consulter</a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="validées">
                    <div class="notes-listing">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Montant</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Statut</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for note in notes %}
                                    {% if note.statut == 'Validée' %}
                                        <tr class="table-success">
                                            <td>{{ note.date | date('d/m/y')}}</td>
                                            <td>{{ note.montant }}</td>
                                            <td>{{ note.type }}</td>
                                            <td>{{ note.statut }}</td>
                                            <td>
                                                <a href="{{ path('user_note_show', {'id': note.id}) }}" class="btn btn-primary">Consulter</a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}