{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="validated-notes-pages-header">
        <h1>Notes Validées</h1>
    </div>

    <div class="validated-notes-listing">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="smartphone-device tablet-device">Vrp</th>
                    <th scope="col">Date</th>
                    <th scope="col" class="smartphone-device tablet-device">Montant</th>
                    <th scope="col" class="smartphone-device tablet-device">Type</th>
                    <th scope="col" class="smartphone-device tablet-device">Scan</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for validated_note in validated_notes %}
                    <tr class="table-success">
                        <td class="smartphone-device tablet-device">
                            <a href="{{ path('admin_user_show', {'id': validated_note.user.id}) }}" class="btn btn-primary">{{ validated_note.user.name }}</a>
                        </td>
                        <td>{{ validated_note.date | date('d/m/y')}}</td>
                        <td class="smartphone-device tablet-device">{{ validated_note.montant }}
                            €</td>
                        <td class="smartphone-device tablet-device">{{ validated_note.type }}</td>
                        {% if validated_note.scan %}
                            <td class="smartphone-device tablet-device">oui</td>
                        {% else %}
                            <td class="smartphone-device tablet-device">non</td>
                        {% endif %}
                        <td>
                            <a href="{{ path('admin_note_show', {'id': validated_note.id}) }}" class="btn btn-primary">Consulter</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(validated_notes) }}
        </div>
    </div>

{% endblock %}