{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="pages-header">
        <h1>Notes en attente de validation</h1>
    </div>

    <div class="notes-listing">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Vrp</th>
                    <th scope="col">Date</th>
                    <th scope="col">Montant</th>
                    <th scope="col">Type</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Scan</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for not_validated_note in not_validated_notes %}
                    <tr class="table-warning">
                        <td>
                            <a href="{{ path('admin_user_show', {'id': not_validated_note.user.id}) }}" class="btn btn-primary">{{ not_validated_note.user.name }}</a>
                        </td>
                        <td>{{ not_validated_note.date | date('d/m/y')}}</td>
                        <td>{{ not_validated_note.montant }}
                            €</td>
                        <td>{{ not_validated_note.type }}</td>
                        <td>{{ not_validated_note.statut }}</td>
                        {% if not_validated_note.scan %}
                            <td>oui</td>
                        {% else %}
                            <td>non</td>
                        {% endif %}
                        <td>
                            <a href="{{ path('user_note_show', {'id': not_validated_note.id}) }}" class="btn btn-primary">Consulter</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(not_validated_notes) }}
        </div>
    </div>

{% endblock %}