{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <h1>Bienvenue
        {{ user.name }}</h1>

    <div class="notes-listing">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Montant</th>
                    <th scope="col">Type</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for note in notes %}
                    {% if note.statut == 'En cours' %}
                        <tr class="table-warning">
                            <td>{{ note.date | date('d/m/y')}}</td>
                            <td>{{ note.montant }}</td>
                            <td>{{ note.type }}</td>
                            <td>{{ note.statut }}</td>
                            <td>
                                <a href="{{ path('user_note_show', {'id': note.id}) }}" class="btn btn-primary">Consulter</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="messages"></div>

{% endblock %}