{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Note de
        {{ note.user.name }}
        du
        {{ note.date | date('d/m/Y') }}</h1>

    {{ note.montant }}
    {{ note.type }}
    {{ note.adress }}
    {{ note.postcode }}
    {{ note.city }}
    {{ note.country }}
    {{ note.latitude }}
    {{ note.longitude }}
    {{ note.description }}
    {{ note.scan }}

    <a href="{{ path('admin_note_edit', {'id': note.id}) }}" class="btn btn-primary">Modifier cette note</a>
{% endblock %}