{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <h1>{{ user.name }}</h1>

    <div class="user-infos">
        <td>{{ user.email }}</td>
        <td>{{ user.username }}</td>
        <p class="lead">
            <a href="{{ path('security_user_edit', {'id': user.id}) }}" class="btn btn-primary">Modifier les infos</a>
        </p>
    </div>

    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Montant</th>
                    <th scope="col">Type</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for note in notes %}
                    {% if note.statut == 'Réglée' %}
                        <tr class="table-success">
                        {% else %}
                            <tr class="table-warning">
                            {% endif %}
                            <td>{{ note.date | date('d/m/y')}}</td>
                            <td>{{ note.montant }}</td>
                            <td>{{ note.type }}</td>
                            <td>{{ note.statut }}</td>
                            <td>
                                <a href="{{ path('admin_note_show', {'id': note.id}) }}" class="btn btn-primary">Consulter</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% endblock %}