{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="home-pages-header">
        <h1>Bienvenue
            {{ user.name }}</h1>
    </div>

    <div class="home-page-content">

        {% if messagesNonLus %}
            <div class="message-box">

                <div class="message-box-title">
                    <h3>Messages non lus :</h3>
                </div>

                {% for messageNonLus in messagesNonLus %}

                    <div class="message">
                        <p>De
                            {{ messageNonLus.auteur.name}}
                            le
                            {{ messageNonLus.createdAt | date('d/m/y')}}
                            à
                            {{ messageNonLus.createdAt | date('h')}}:{{ messageNonLus.createdAt | date('m')}}</p>
                        <br/>
                        <p>{{ messageNonLus.content}}</p>
                        <br/>
                        <a href="{{ path('message_change_statut', {'id': messageNonLus.id}) }}" class="btn btn-primary action-button">Declarer lu</a>
                        <a href="{{ path('message_delete', {'id': messageNonLus.id}) }}" class="btn btn-danger action-button">Supprimer</a>
                    </div>

                {% endfor %}

            </div>
        {% endif %}

        <div class="actu-box">

            <div class="actu-box-title">
                <h3>Dernières actus de l'entreprise :</h3>
            </div>

            {% for article in articles %}

                <div class="article">

                    <div class="article-header">
                        <p>
                            <h2>{{ article.title}}</h2>
                            le
                            {{ article.createdAt | date('d/m/y')}}</p>
                    </div>
                    <br/>
                    <div class="article-content">
                        <p>{{ article.content}}</p>
                    </div>

                </div>

            {% endfor %}

        </div>

    </div>

{% endblock %}