{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="note-page-header">
        <div class="note-infos">
            <h1>Note du
                {{ note.date | date('d/m/Y') }}</h1>
        </div>
    </div>

    <div class="note-global-content" data-lat="{{ note.latitude }}" data-long="{{ note.longitude }}">
        <div class="note-text-content">
            {% if note.statut == 'Validée' %}
                <h1>Validée</h1>
            {% else %}
                <h1>En cours</h1>
            {% endif %}
            <p>Montant TTC de la note en Euros :
                {{ note.montant }}
                €</p>
            <p>Type de note :
                {{ note.type }}</p>

            <p>
                Coordonnées :
                {{ note.adress }}
                {{ note.postcode }}
                {{ note.city }}
                {{ note.country }}</p>

            <p>
                Description :
                {{ note.description }}</p>
            {% if note.scan %}
                <p>
                    <a href="{{ asset('uploads/scans/' ~ note.scan) }}" class="btn btn-primary" target="_blank">Voir le scan</a>
                </p>
            {% endif %}

        </div>
        <div id="map"></div>
    </div>

{% endblock %}

{% block javascripts %}
    <!-- L'api google map-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-QOyka6s8nWe_oDO0sXzj5pZYFP42JYE"></script>
    <!-- Le script qui initialise la map et met le marker pour la note-->
    <script src="{{ asset('build/note-map.js') }}"></script>
{% endblock %}