{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="waiting-notes-pages-header">
        <h1>Notes en attente de validation</h1>
    </div>

    <div class="waiting-notes-listing">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col" class="smartphone-device tablet-device">Montant</th>
                    <th scope="col" class="smartphone-device tablet-device">Type</th>
                    <th scope="col" class="smartphone-device tablet-device">Scan</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for not_validated_note in not_validated_notes %}
                    <tr class="table-warning">
                        <td>{{ not_validated_note.date | date('d/m/y')}}</td>
                        <td class="smartphone-device tablet-device">{{ not_validated_note.montant }}
                            €</td>
                        <td class="smartphone-device tablet-device">{{ not_validated_note.type }}</td>
                        {% if not_validated_note.scan %}
                            <td class="smartphone-device tablet-device">oui</td>
                        {% else %}
                            <td class="smartphone-device tablet-device">non</td>
                        {% endif %}
                        <td>
                            <a href="{{ path('user_note_show', {'id': not_validated_note.id}) }}" class="btn btn-primary">Consulter</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(not_validated_notes) }}
        </div>
    </div>

{% endblock %}